   
      <!-- Content -->
         <section id="content">
            <div id="main">
               <div id="tribe-events-pg-template">
                  <div id="tribe-events" data-live_ajax="1" data-category="">
                     <div></div>
                     <span class="tribe-events-ajax-loading">
                     <!-- <img src="images/events/events/tribe-loading.gif" alt=""> -->
                     </span>	
                     <div id="tribe-events-content-wrapper">
                        <input type="hidden" value="">
                        <!-- Events Calendar -->
                        <div class="events_parallax">
                           <div class="container">
                              <h1>Events.</h1>
                              <div id="tribe-events-bar">
                                 <form id="tribe-bar-form" class="tribe-clearfix tribe-bar-full" name="tribe-bar-form" method="post" action="#">
                                    <div id="tribe-bar-collapse-toggle">
                                       Find Events<span></span>
                                       <span class="tribe-bar-toggle-arrow"></span>
                                    </div>
                                    <div id="tribe-bar-views">
                                       <div class="tribe-bar-views-inner tribe-clearfix">
                                          <h3 class="tribe-events-visuallyhidden">Event Views Navigation</h3>
                                          <label>View As</label>
                                          <select name="tribe-bar-view">
                                             <option value="#/events/upcoming/" data-view="upcoming">
                                                List
                                             </option>
                                             <option selected="" value="#/events/month/" data-view="month">
                                                Month
                                             </option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="tribe-bar-filters">
                                       <div class="tribe-bar-filters-inner tribe-clearfix">
                                          <div class="tribe-bar-date-filter">
                                             <div id="tribe-bar-dates">
                                                <label class="label-tribe-bar-date" for="tribe-bar-date">Events In</label>
                                                <input type="text" name="tribe-bar-date" id="tribe-bar-date" value="" placeholder="Date">
                                             </div>
                                             <input type="hidden" name="tribe-bar-date-day" id="tribe-bar-date-day" class="tribe-no-param" value="">
                                          </div>
                                          <div class="tribe-bar-search-filter">
                                             <label class="label-tribe-bar-search" for="tribe-bar-search">Search</label>
                                             <input type="text" name="tribe-bar-search" id="tribe-bar-search" value="" placeholder="Search">
                                          </div>
                                          <div class="tribe-bar-submit">
                                             <input class="tribe-events-button tribe-no-param" type="submit" name="submit-bar" value="Find Events">
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div id="tribe-events-content" class="tribe-events-month">
                           <h2 class="tribe-events-page-title">Events as at <%= Date.today %></h2>
                           <div id="tribe-events-header" data-title="Events for March 2014 » Family Church" data-view="month" data-date="2014-03" data-baseurl="#/events/month/"></div>
                           <div class="events_calendar_wrap">
                              <table class="tribe-events-calendar">
                                 <thead>
                                    <tr>
                                       <th title="Monday">Monday</th>
                                       <th title="Tuesday">Tuesday</th>
                                       <th title="Wednesday">Wednesday</th>
                                       <th title="Thursday">Thursday</th>
                                       <th title="Friday">Friday</th>
                                       <th title="Saturday">Saturday</th>
                                       <th title="Sunday">Sunday</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-1">
                                             1
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-2">
                                             2
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-3">
                                             3
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-4">
                                             4
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-5">
                                             5
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-6">
                                             6
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-7">
                                             7
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-8">
                                             8
                                          </div>
                                       </td>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-9">
                                             9
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-10">
                                             10
                                          </div>
                                       </td>
                                       <!-- Events -->
                                       <td class="tribe-events-past tribe-events-has-events">
                                          <div id="tribe-events-daynum-11">
                                             <a href="event_page.html">11</a>
                                          </div>
                                          <div id="tribe-events-event-57-11" class="vevent tribe-events-last">
                                             <h3 class="tribe-events-month-event-title">
                                                <a href="#">Vision Sunday 2014</a>
                                             </h3>
                                             <div class="tribe-events-tooltip">
                                                <h4>Vision Sunday 2014</h4>
                                                <div class="tribe-events-event-body">
                                                   <span>March 11 @ 8:00 am<span title="2014-03-11UTC08:00"></span></span>-
                                                   <span>5:00 pm<span title="2014-03-11UTC05:00"></span></span>
                                                   <div class="tribe-events-event-thumb">
                                                      <img src="images/sizes/90x90.png" alt="">
                                                   </div>
                                                   <p class="entry-summary description"></p>
                                                </div>
                                                <span class="tribe-events-arrow"></span>
                                             </div>
                                          </div>
                                       </td>
                                       <!-- Ends Events -->
                                       <td class="tribe-events-past">
                                          <div id="tribe-events-daynum-12">
                                             12
                                          </div>
                                       </td>
                                       <!-- Events -->
                                       <td class="tribe-events-past tribe-events-has-events">
                                          <div id="tribe-events-daynum-13">
                                             <a href="#">13</a>
                                          </div>
                                          <div id="tribe-events-event-61-13" class="hentry vevent cat_latest-life-group">
                                             <h3 class="tribe-events-month-event-title">
                                                <a href="#">9.30am Sunday Service</a>
                                             </h3>
                                             <div class="tribe-events-tooltip">
                                                <h4>9.30am Sunday Service</h4>
                                                <div class="tribe-events-event-body">
                                                   <span>March 13 @ 8:00 am<span title="2014-03-13UTC08:00"></span></span>-
                                                   <span>5:00 pm <span title="2014-03-13UTC05:00"></span></span>
                                                   <div class="tribe-events-event-thumb">
                                                      <img src="images/sizes/90x90.png" alt="">
                                                   </div>
                                                   <p class="entry-summary description"></p>
                                                </div>
                                                <span class="tribe-events-arrow"></span>
                                             </div>
                                          </div>
                                          <div id="tribe-events-event-63-13" class="hentry vevent tribe-events-last">
                                             <h3 class="tribe-events-month-event-title">
                                                <a href="#">The Good, The Bad, The Ugly</a>
                                             </h3>
                                             <div class="tribe-events-tooltip">
                                                <h4>The Good, The Bad, The Ugly</h4>
                                                <div class="tribe-events-event-body">
                                                   <span>March 13 @ 8:00 am<span title="2014-03-13UTC08:00"></span></span>-
                                                   <span>5:00 pm <span title="2014-03-13UTC05:00"></span></span>
                                                   <div class="tribe-events-event-thumb">
                                                      <img src="images/sizes/90x90.png" alt="">
                                                   </div>
                                                   <p class="entry-summary description"></p>
                                                </div>
                                                <span class="tribe-events-arrow"></span>
                                             </div>
                                          </div>
                                       </td>
                                       <!-- Ends Events -->
                                       <!-- Events -->
                                       <td class="tribe-events-today tribe-events-has-events">
                                          <div id="tribe-events-daynum-14">
                                             <a href="event_page.html">14</a>
                                          </div>
                                          <div id="tribe-events-event-59-14" class="hentry vevent tribe-events-last">
                                             <h3 class="tribe-events-month-event-title">
                                                <a href="event_page.html">Tim &amp; Abbie talk about Japan</a>
                                             </h3>
                                             <div class="tribe-events-tooltip">
                                                <h4>Tim &amp; Abbie talk about Japan</h4>
                                                <div class="tribe-events-event-body">
                                                   <span>March 14 @ 8:00 am<span title="2014-03-14UTC08:00"></span></span>-
                                                   <span>5:00 pm <span title="2014-03-14UTC05:00"></span></span>
                                                   <div class="tribe-events-event-thumb">
                                                      <img src="images/sizes/90x90.png" alt="">
                                                   </div>
                                                   <p class="entry-summary description"></p>
                                                </div>
                                                <span class="tribe-events-arrow"></span>
                                             </div>
                                          </div>
                                       </td>
                                       <!-- Ends Events -->
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-15">
                                             15
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-16">
                                             16
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-17">
                                             17
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-18">
                                             18
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-19">
                                             19
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-20">
                                             20
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-21">
                                             21
                                          </div>
                                       </td>
                                       <!-- Events -->
                                       <td class="tribe-events-future tribe-events-has-events">
                                          <div id="tribe-events-daynum-22">
                                             <a href="event_page.html">22</a>
                                          </div>
                                          <div id="tribe-events-event-74-22" class="hentry vevent tribe-events-last">
                                             <h3 class="tribe-events-month-event-title">
                                                <a href="event_page.html">Open Bible Study</a>
                                             </h3>
                                             <div class="tribe-events-tooltip">
                                                <h4>Open Bible Study</h4>
                                                <div class="tribe-events-event-body">
                                                   <span>March 22 @ 8:00 am<span title="2014-03-22UTC08:00"></span></span>-
                                                   <span>5:00 pm <span title="2014-03-22UTC05:00"></span></span>
                                                   <div class="tribe-events-event-thumb">
                                                      <img src="images/sizes/90x90.png" alt="">
                                                   </div>
                                                   <p class="entry-summary description"></p>
                                                </div>
                                                <span class="tribe-events-arrow"></span>
                                             </div>
                                          </div>
                                       </td>
                                       <!-- Ends Events -->
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-23">
                                             23
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-24">
                                             24
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-25">
                                             25
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-26">
                                             26
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-27">
                                             27
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-28">
                                             28
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-29">
                                             29
                                          </div>
                                       </td>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-30">
                                             30
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="tribe-events-future">
                                          <div id="tribe-events-daynum-31">
                                             31
                                          </div>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                       <td>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div id="tribe-events-footer">
                              <h3 class="tribe-events-visuallyhidden">Calendar Month Navigation</h3>
                              <ul class="tribe-events-sub-nav">
                                 <li class="tribe-events-nav-previous">
                                    <a data-month="2014-02" href="#/events/2014-02/" rel="prev">« February </a>	
                                 </li>
                                 <li class="tribe-events-nav-next">
                                    <a data-month="2014-04" href="#/events/2014-04/" rel="next">April »</a>	
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!-- Events Calendar -->
                     </div>
                     <div class="tribe-events-after-html"></div>
                  </div>
               </div>
            </div>
         </section>



