

            <section class="section2">
               <div class="container"></div>
               <div id="parallax_5" class="fullwidth gap_fullwidth parallax">
                  <div class="container">
                     <h1>About Us.</h1>
                  </div>
               </div>
                <div class="container"></div>
            </section>
           		
           		<div class="container">
               		<div class="row">
			      			<div class="col-md-12 col-lg-offset-3">
			      				<h1 class="scut"> SCUT ISU</h1>
			      					<p>
			      						The International Student Union (ISU) of South China University of Technology (SCUT) is the official liason of the School of International Education (SIE). Joining us is a both a great joy and a tremendous responsibility. We appreciate one thing only, DEDICATION!. We believe we can achieve boundless heights with a team of dedicated students.

We are made up of two essential units, North Campus Union and South Campus Union. 
We have a handful of departments where you can share ideas and apply your skills. We present a great platform for international students to give back to SCUT and to apply their knowledge and skills in an interractive and open way.
			      					</p>

			      					<br>

			      					<h1 class="history">History Of Scut International Union, <br>South Campus</h1>

			      					<p>The International Student Union was founded in 2008, with the initial suggestion coming from the School of International Education. It was agreed upon that the main framework would be designed similar to that of the current Chinese Student Unions. They set out to elect individuals who were willing and capable of handling such responsibilities. Due to the fact that South China University of Technology's School of International Education was in its infant stages, there was not a large contingent to choose from. Nevertheless, a few students with certain educational leadership pedigree rose up to take up roles in the newly formed student union. Some of their responsibilities included management of sporting, lifestyle, educational and entertaining activities and more. At this point, Mahesh from Sri Lanka had taken up the mantle as the president. Some of their achievements were, taking second place at the Guangzhou Friendship Games and organizing the first Christmas Party now the New Year Party. Mahesh was assisted by Mr. Patrick Tsiabuta from Congo, Mr. Kamugisha from Tanzania and a few others.<br><br>
 
An influx of new students saw ashakeup in the student union governance. As usual the International StudentUnion took up the task of personally electing people to play particular rolesin the union. There was no election. Changes were made as well to theleadership of the various departments within the union. This new shakeup had nosignificant effect on the efficiency of the union. No co-ordination existedamong the elected executives, neither was there much co-operation with theoffice.<br><br>
 
The next batch of executives was the first to be elected and effectively documented. The Chairman was Mr.Kant from Vietnam, Vice Chairman was Mr. Nathan Kudowor from Ghana, Sports department was headed by Mr. Patrick Tsiabuta from Congo and the secretary wasMiss Anli from Indonesia. These individuals in their respective departments were the new energy vile injected into the union. During Mr. Kant's tenure aspresident, we witnessed the design of the first constitution of the union, the union logo, organization of cultural festivals and mianly the stabilization ofthe shaky student union structure. In fact, the initial establishment of the union as a major force to reckon with begun in the tenure of Kant and his able executives.<br><br>
 
From February 2011 to 2012, the student union was lead by Mr. Nathan Kuwudor who was assisted by Vice Chairman, Mr. Provi from Congo. This year group of executives opened up the union to house more departments and executives. In the 2012 academic year, the union was lead by Olga Zaynetdinova, now Mrs. Olga Kaindoh who pushed the union into a new frontier of diversity and strength.<br><br>
 
The 2013 student union was ledby Lammie Sow (Daddy) from Cameroun assisted by Jeffrey Laryea from Ghana and Nguyen Tran Tien Dung from Vietnam as Vice Presidents. This year group boastsof successfully organizing the Best Cultural Festival in the history of the student union. In 2014, Azamat from Kazakhstan took up the mantle as President of the student union with Innocent Kamala from Tanzania and Nguyen Tran TienDung from Vietnam as Vice Presidents.<br><br>
 
In 2015, Mr. Innocent Kamala from Tanzania picked up the mantle to march on as the new International Student Union President. He has assisted by Sakun Yevginy from Kazakhstan, Nguyen TranTien Dung from Vietnam and Charles Cyril Nettey from Ghana. This group ofstudent union executives led the International Student body into a series ofsports victories during the Guangzhou Friendship Games. The first ever LaserTag Competition was successfully held as well as a legion of other culturallyrich activities that revived the faith of student in the Union.<br><br>
 
The International Student Unionof South China University of Technology has and always will be a symbol of hopeto all international students. Since its inception it has been a home away fromhome and it shall continue for many years to come.

</p>
			      			</div>
			     
      		</div>
      	</div>
   
      		